.todo-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #f2f2f2;
  box-sizing: border-box;

  .controls-container {
    margin-left: auto;

    > :not(:last-child) {
      margin-right: 10px;
    }
  }
}

.placeholder {
  padding: 10px;
  background: #ffff11;
  box-sizing: border-box;
}
