.task-item {
  .task-container {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f2;
    box-sizing: border-box;

    .task-content-text {
      line-height: 1.6;
    }

    .placeholder {
      padding: 10px;
      background: #ffff11;
      box-sizing: border-box;
    }

    .actions-container {
      margin-left: auto;

      button {
        background: none;
        border: none;
        padding: 5px;
        color: #888;
        font-size: 14px;

        &:hover {
          color: #dd4b39;
          cursor: pointer;
          text-decoration: none;
        }
      }

      > :not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  .task-edit-container {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #0078d4;
  }
}
